* {
    margin: 0;
    padding: 0;
}

.wrapper {
    background: #dfdfdf;
    height: 955px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.topic {
    text-align: center;
}

.question {
    padding-left: 100px;
}

.question_checkbox_box {
    padding-left: 50px;
}
